/* components/Header/Header.module.css */

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    padding: 12px;
    border-block-end: 1px solid #ccc;
  }
  
  .navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    list-style-type: none;
  }
  